.paper {
  width: 100%;
  border-radius: 0.75rem !important;
  padding: 0.75rem !important;
}

.container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  min-height: inherit;
}

.wrapper {
  @extend .paper;
  display: flex;
  gap: 2rem;
  @media only screen and (max-width: 1280px) {
    flex-direction: column;
  }
}

.sideInfo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}

.adInfo {
  position: relative;
  border-radius: 0.75rem !important;
  padding: 0.75rem;
  display: flex;
  width: 100%;
  min-height: 80vh;
  max-height: 100vh;
  overflow: auto;
  flex-direction: column;
  row-gap: 1rem;

  .actionWrapper {
    @extend .paper;
    padding: 0.25rem;
    @media only screen and (max-width: 544px) {
      flex-direction: column;
      row-gap: 0.75rem;
    }
    display: flex;
    justify-content: space-around;
    align-items: center;
    // margin-top: 1rem;
    .actionInfo {
      @media only screen and (max-width: 544px) {
        display: flex;
        column-gap: 0.5rem;
      }
      font-size: 1.8rem;
      h4 {
        margin: 0;
      }
    }
    .action {
      display: flex;
      gap: 0.5rem;
      flex-direction: column;
      .actionInput {
        display: flex;
        flex-direction: column;
        row-gap: 0.25rem;
        justify-content: center;
        .actionInputLegend {
          font-size: smaller;
          color: grey;
          font-weight: 500;
        }
      }
      .actionButtons {
        display: flex;
        gap: 0.5rem;
        > button {
          padding: 0.5rem 1.5rem;
          flex: 1 1 20%;
          height: fit-content;
        }
      }
    }
  }

  .adTitle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    > h1 {
      margin: 0;
      text-decoration: underline;
    }
    > .rating {
      align-items: center;
    }
  }
}

.description {
  @extend .paper;
  display: flex;
  flex-direction: column;
  > h3 {
    margin-block: 0.25rem;
  }
  > div {
    font-size: medium;
    &::first-letter {
      margin-left: 1rem;
    }
  }
}

.commentWrapper {
  @extend .paper;
  > h3 {
    margin-block: 0.25rem;
  }
  display: flex;
  flex-direction: column;
}

.userDetails {
  height: 100%;
  width: 100%;
  border-radius: 0.75rem !important;
  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.ownerAdInfo {
  @media only screen and (max-width: 544px) {
    flex-direction: column;
  }
  border-radius: 0.75rem !important;
  padding: 0.75rem;
  width: 100%;
  display: flex;
  align-items: center;

  justify-content: space-evenly;
  > div {
    > h4 {
      margin: 0;
    }
    display: flex;

    justify-content: center;
  }
}

.more {
  position: absolute !important;
  top: 1.25%;
  right: 1.25%;
}

.menu {
  border-radius: 0.75rem !important;
  padding-inline: 0.25rem !important;
  padding-block: 0.125rem !important;
}

.inputStyle {
  border-radius: 0.75rem !important;
}

.editForm {
  display: flex;
  flex-direction: column;
  // height: 100%;
  gap: 1rem;
  justify-content: space-evenly;
}
