@import "../styles/variables.module.scss";

.messageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vmin;
  min-height: inherit;
  gap: 1vmin;
  .message {
    max-width: 85vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 2vmin;
    border-radius: 0.75rem !important;
    padding: 2rem !important;
    .image {
      position: relative;
      // img {
      //   max-width: inherit;
      // }
      // object-fit: contain;
      display: flex;
      max-width: 100%;
      aspect-ratio: 1.67;
    }
  }
}
