.list {
  padding-inline: 0.75rem;
  > * {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    margin-block: 0.75rem;
  }
}

.firstHalf {
  text-align: center;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  .searchWrapper {
    margin-block: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .search {
      @media only screen and (max-width: 1280px) {
        width: 75%;
      }
      width: 50%;
    }
  }
  > p {
    margin-top: 2.5%;
  }
}

.secondHalf {
  position: relative;
  min-height: 50vh;

  .base {
    @media only screen and (max-width: 768px) {
      width: 100% !important;
    }
    position: absolute;
    background-color: aliceblue;
    height: 100%;
    width: 57%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms cubic-bezier(0.55, 0.09, 0.68, 0.53);
    z-index: 50;
    &:not(:focus, :focus-within) {
      cursor: pointer;
    }
  }
  > .products {
    @extend .base;
    @media only screen and (max-width: 768px) {
      inset: 0 !important;
      clip-path: polygon(0 0, 80% 0, 20% 100%, 0 100%) !important;
    }
    left: 0;
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
    &:hover,
    &:focus-within,
    &:focus {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
      width: 100%;
      transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    &:hover + .services,
    &:focus-within + .services,
    &:focus + .services {
      z-index: 0;
    }

    > form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      row-gap: 1rem;
    }
  }
  > .services {
    @extend .base;
    @media only screen and (max-width: 768px) {
      inset: 0 !important;
      clip-path: polygon(80% 0, 100% 0, 100% 100%, 20% 100%) !important;
    }
    right: 0;
    &:hover,
    &:focus-within,
    &:focus {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
      width: 100%;
      transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
    > form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      row-gap: 1rem;
    }
  }
}

.productsInteractive {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  &:hover > div {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: all 500ms ease-out;
  }

  &:hover {
    &::after {
      opacity: 0;
      transition: all 250ms ease-in;
    }
  }
  &::before {
    content: "Proizvodi";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    z-index: 61;
    color: white;
    inset: 0;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    z-index: 60;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.75) 85%
    );
  }

  // div {
  //   img {
  //     aspect-ratio: 1.5;
  //     height: 100%;
  //   }
  //   position: absolute;
  //   height: 100%;
  // }

  > div {
    position: absolute;
    height: 100%;
    > div {
      height: 100%;
      aspect-ratio: 1.5;
      position: relative;
    }
  }
  .first {
    clip-path: polygon(0 0, 75% 0, 50% 100%, 0 100%);
    transition: all 500ms ease-out;
  }
  .second {
    clip-path: polygon(25% 0, 75% 0, 50% 100%, 0 100%);
    left: 25%;
    transition: all 500ms ease-out;
  }
  .third {
    clip-path: polygon(25% 0, 75% 0, 50% 100%, 0 100%);
    left: 50%;
    transition: all 500ms ease-out;
  }
  .fourth {
    clip-path: polygon(25% 0, 75% 0, 50% 100%, 0 100%);
    left: 75%;
    transition: all 500ms ease-out;
  }
}

.servicesInteractive {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;

  &:hover > div {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: all 500ms ease-out;
  }

  &:hover {
    &::after {
      opacity: 0;
      transition: all 250ms ease-in;
    }
  }

  &::before {
    content: "Usluge";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    z-index: 61;
    color: white;
    inset: 0;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    z-index: 60;
    background: linear-gradient(
      to left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.75) 85%
    );
  }

  // div {
  //   img {
  //     aspect-ratio: 1.5;
  //     height: 100%;
  //   }
  //   position: absolute;
  //   height: 100%;
  //   text-align: right;
  // }

  > div {
    position: absolute;
    height: 100%;
    text-align: right;
    > div {
      height: 100%;
      aspect-ratio: 1.5;
      position: relative;
    }
  }
  .first {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 25% 100%);
    transition: all 500ms ease-out;
    right: 0;
  }
  .second {
    clip-path: polygon(50% 0, 100% 0, 75% 100%, 25% 100%);
    right: 25%;
    transition: all 500ms ease-out;
  }
  .third {
    clip-path: polygon(50% 0, 100% 0, 75% 100%, 25% 100%);
    right: 50%;
    transition: all 500ms ease-out;
  }
  .fourth {
    clip-path: polygon(50% 0, 100% 0, 75% 100%, 25% 100%);
    right: 75%;
    transition: all 500ms ease-out;
  }
}

.productsBasic {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  // img {
  //   height: 100%;
  //   width: 100%;
  //   object-fit: cover;
  // }
  > div {
    height: 100%;
    // aspect-ratio: 1.5;
    img {
      object-fit: cover;
    }
    position: relative;
  }
  &::before {
    @media only screen and (max-width: 768px) {
      justify-content: flex-start;
      padding-left: 1.25rem;
      align-items: flex-start;
    }
    content: "Proizvodi";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    color: white;
    inset: 0;
    z-index: 61;
  }
}

.servicesBasic {
  @extend .productsBasic;

  &::before {
    @media only screen and (max-width: 768px) {
      justify-content: flex-end;
      padding-right: 1.25rem;
      align-items: flex-end;
    }
    content: "Usluge";
  }
}

.inputStyle {
  border-radius: 0.75rem !important;
}
