.mapDiv {
  display: flex;
  min-width: 50vmin;
  aspect-ratio: 3/2;
  border-radius: 0.75rem;
}

.popup {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
