@import "./variables.module.scss";
@import "./mixins.module.scss";

.overlay {
  display: flex !important;
  position: fixed;
  inset: 0;
  background-color: rgba(131, 130, 130, 0.8);
  z-index: 150;

  .popupWrapper {
    position: relative;
    // max-width: 70vw;
    margin: auto;

    .login {
      background-color: $baseColorLighter;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      border-radius: 0.75rem;
      padding: 2vmin;
      transition: all 1.5s ease;
      gap: 2vmin;
      position: relative;

      > h2 {
        margin-block: 1vmin;
      }

      > a {
        padding: 10px;
        position: absolute;
        margin-left: auto;
        margin-bottom: auto;
        top: 2vmin;
        right: 2vmin;
        font-size: 1.85vmin;
        line-height: 0.5;
      }

      > div {
        width: 60%;
        position: relative;
      }

      > form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > div {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;

          &:last-of-type {
            display: block;
            text-align: center;
            a {
              all: unset;
              color: $accentColor;
              &:hover {
                border-bottom: 1px solid $accentColor;
                cursor: pointer;
              }
            }
          }

          margin-block: 1.5vmin;

          //   > .input {
          //     @include roundedInput(1rem, 100%);
          //   }

          //   .inputStyle {
          //     font-size: inherit;
          //   }
        }

        > button {
          // @include button($baseColor, white, 1vmin, 2.5vmin);
          // position: relative;
          // margin-block: 2vmin;
        }
        .loading {
          .btnText {
            visibility: none;
            opacity: 0;
          }
          &::before {
            display: block;
            content: "";
            width: 2vmin;
            height: 2vmin;
            border-radius: 50%;
            position: absolute;
            inset: 0;
            margin: auto;
            border: 0.5vmin solid grey;
            border-top-color: $accentColor;
            animation: spin 0.75s infinite ease;
          }
        }

        @keyframes spin {
          100% {
            transform: rotate(360deg);
          }
          0% {
            transform: rotate(0);
          }
        }
      }
    }
  }
  .signup {
    @extend .login;
    justify-content: center !important;

    form {
      width: 100% !important;
      > div {
        margin-block: 1vmin !important;
      }
      > button {
        margin-block: 1vmin !important;
      }
    }
    > div {
      width: 50% !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.inputStyle {
  border-radius: 0.75rem !important;
}
