@import "../styles/variables.module.scss";

.wrapper {
  @extend .paper;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vmin;
  @media only screen and (max-width: 992px) {
    flex-direction: column;
  }
}
.container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  min-height: inherit;
}

.paper {
  height: 100%;
  width: 100%;
  border-radius: 0.75rem !important;
  padding: 0.75rem !important;
}

.actions {
  @extend .paper;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  > button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.75rem;
    background-color: transparent;
    &:hover {
      background-color: $baseColor;
      cursor: pointer;
    }
    > svg {
      width: 3vmin;
      height: auto;
    }
  }
  margin-bottom: 0.5rem;
}

.tabWrapper {
  flex: 7;
  max-height: 75vh;
  min-height: 50vh;
  width: 100%;
  overflow: auto;
  > .paper {
    padding-bottom: 2.5vmin;
  }
}

.tabs {
  border-radius: 0.75rem;
}

.newAdForm {
  margin-block: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 2vmin;
  padding-top: inherit !important;
  .priceUnit {
    display: flex;
    gap: 0.5rem;
    @media only screen and (max-width: 544px) {
      flex-direction: column;
    }
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-block: 1rem;

  .imageWrapper {
    position: relative;
    min-width: 75%;
    aspect-ratio: 3/2;
  }

  .imageClear {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    &:hover {
      cursor: pointer;
    }
  }
}

.receiptContainer {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;

  @media only screen and (max-width: 767px) {
    grid-template-columns: 1fr !important;
  }
}

.dashboard {
  display: flex !important;
  flex-direction: column;
  h3 {
    text-align: center;
    margin-block: 0.5rem;
  }
  hr {
    margin: 0;
  }
  max-height: 75vh;
  overflow: auto;
  row-gap: 15%;
}

.economy {
  > div {
    @media only screen and (max-width: 767px) {
      width: 100% !important;

      padding: 0.5rem !important;
    }
    width: 50%;
    aspect-ratio: 1;
    flex-shrink: 0;
    padding: 2rem;
  }
  display: flex !important;
  width: 100%;
  height: 100%;

  overflow: auto;
}
.favourites {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  > h3 {
    margin-block: 0.5rem;
    text-align: left !important;
  }
  > div {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
  }
}

.noData {
  width: 100%;
  min-height: 25vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-size: larger;
}
