@import "./variables.module.scss";

.basicIcon {
  width: 5vmin;
  height: auto;
  color: $baseColorDarker;

  &:hover {
    color: $accentColor;
    cursor: pointer;
  }
}

.dropDown {
  border-radius: 1rem !important;
  padding-inline: 1.25vmin;
  padding-block: 0.75vmin;
}

.avatar {
  cursor: pointer;
}

.item {
  border-radius: 1rem !important;
}
