@import "./variables.module.scss";

.basicIcon {
  width: 5vmin;
  height: auto;
  color: $baseColorDarker;

  &:hover {
    color: $accentColor;
    cursor: pointer;
  }
}

.dropDown {
  border-radius: 0.75rem !important;
  padding-inline: 1rem;
  padding-block: 0.5rem;
}

.avatar {
  cursor: pointer;
  // height: 90%;
  // width: auto;
}

.item {
  border-radius: 0.75rem !important;
}
